$base-color: #c8dae7;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-list-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1230px;
}
.nav-header {
  width: 100%;
  font-size: 24px;
  background: #0082e6;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
  padding-left: 25px;
  display: flex;
}

.nav-header > label {
  padding-left: 10px;
  line-height: 50px;
}

.card-container {
  margin: 0.9em 0.5em;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 290px;
  border-radius: 0.29rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow 0.1s ease, transform 0.1s ease,
    -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
}

.image {
  display: block;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
}

.image > img {
  display: block;
  width: 100%;
  height: auto;
}
.status {
  display: flex;
  align-items: center;
}
.status .live-status {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
}

.live-status.alive {
  background: rgb(85, 204, 68);
}

.live-status.dead {
  background: rgb(214, 61, 46);
}

.content {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
  .header {
    color: #42526e;
    transition: color 0.1s ease;
    font-weight: 700;
  }
  .meta {
    color: #737881;
    margin-top: 5px;
  }
  .description {
    margin-top: 0.5em;
    color: rgba(0, 0, 0, 0.68);
  }
}

.content .header:hover {
  color: #1e70bf;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1e70bf;
}


.view-more-btn {
  height: 90%;
  padding: 0px;
  border: none;
  color: #1e70bf;
  background: transparent;
  font-size: 14px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.modal-container section {
  background: #fdfeff;
  width: 90%;
  max-width: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 70%;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-container button {
  border: none;
  background: transparent;
  padding: 0;
  align-self: flex-start;
}

.modal-container .modal-action-btn {
  font-size: 25px;
  color: #0082e6;
  align-self: flex-end;
  margin-right: 30px;
  position: absolute;
  top: -15.5px;
  right: -42.5px;
  line-height: 20px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 2px solid #0082e6;
}

.modal-container .tab-cta {
  color: #9fc8e8;
  align-self: center;
  width: 80%;
  font-size: 16px
}

.modal-container .tab-cta:focus {
  outline: none;
}

.modal-container .tab-cta.active {
  color: #0082e6;
}

.modal-header {
  display: flex;
  padding: 30px;
  align-items: center;
}

.label {
  color: #42526e;
  font-weight: 700;
}

.value {
  color: #1e293e
}

.modal-header h1 {
  color: #42526e;
  padding-left: 20px;
  font-size: 25px;
}

.character-img {
  height: 90px;
  width: 90px;
}

.tab-header {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin:0;
  height: 50px;
  align-items: center;
}

.tab-header li {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.tab-header li.active {
  background-color: #dbe9f1;
}

.tab-container {
  padding-left: 30px;
  h1 {
    color: #42526e
  }
}

.episode-list {
  list-style: none;
  padding: 0px;
  height: 380px;
  overflow: hidden;
  color: #1e293e;
  overflow-y: scroll;
}

ul.pagination {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  li.page-item.active {
    button.page-link {
      color: saturate(darken($base-color, 50%), 5%);
      background-color: saturate(lighten($base-color, 7.5%), 2.5%) !important;
      border-color: $base-color;
    }
  }

  button.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none;
    border: 1px solid $base-color;
    color: saturate(darken($base-color, 30%), 10%);
    font-weight: 900;
    font-size: 1rem;

    &:hover {
      background-color: $light-background;
    }
  }
}

@media (min-height: 680px) {
  .episode-list {
    height: 250px;
  }

}

@media only screen and (max-width: 768px) {
  .modal-container {
    display: block !important;
  }
  .modal-container section {
    height: 80%;
    overflow-y: initial !important;
  }

  .modal-container section .row {
    overflow-y: auto;
  }
}
